*{
 margin:0;
 padding:0;

}




.cabecalho {
  background-color: rgb(124, 36, 124);
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding:27px 0;


}

.cabecalho-imagem {
  width: 20%;

}

.cabecalho-lista-item{
   display:inline-block;
   margin: 0 16px;
   font-size: 30px;
   font-family: Georgia, 'Times New Roman', Times, serif;

}
 body {

  font-family: "cinzel";
 }
 .Enrolados {
   background-image: linear-gradient(rgb(124, 36, 124), rgb(124, 36, 80));
   color:white;
   display: flex;
  
 }
 .Enrolados-imagem{
   width:23%;
 }